<div class="search-div">
    <button mat-raised-button>
        <mat-icon>add</mat-icon>Create
    </button>
    <mat-form-field class="search-form-field" floatLavel="never">
        <mat-label>Search</mat-label>
        <input matInput [(ngModel)]="searchKey" autocomplete="off" (keyup)="applyFilter()">
        <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="serachKeyFilter()">
            <mat-icon>X</mat-icon>
        </button>
    </mat-form-field>
</div>
<div class="mat-elevation-z8">
    <table mat-table [dataSource]="listData" matSort>
        <ng-container matColumnDef="FullName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Full Name</th>
            <td mat-cell *matCellDef="let element">{{element.fullName}}</td>
        </ng-container>
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
            <td mat-cell *matCellDef="let element">{{element.email}}</td>
        </ng-container>
        <ng-container matColumnDef="mobile">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Mobile</th>
            <td mat-cell *matCellDef="let element">{{element.module}}</td>
        </ng-container>
        <ng-container matColumnDef="city">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>City</th>
            <td mat-cell *matCellDef="let element">{{element.city}}</td>
        </ng-container>
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let row">
                <button mat-icon-button><mat-icon>launch</mat-icon></button>
                <button mat-icon-button color="warn"><mat-icon>delete_outline</mat-icon></button>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
         <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>
    </table>
    <mat-paginator [length]="100"
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
 </div>   
    
